.no-results-found__wrapper {
  font-family: "Gotham SSm A", sans-serif;
  color: #4f4f4f;
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
  
  .no-results-found__title, .no-results-found__subtitle {
    font-weight: $font-weight-regular;
  }
}

@media (min-width: 320px) {
  .no-results-found__wrapper {
    align-items: center;
  }
}