.products__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  max-width: 1070px;
  padding-right: 40px;
  animation: pop-in 1.2s ease-out forwards;


  .products__item {
    cursor: pointer;
    background: white;
    width: 265px;
    margin-bottom: 50px;
    font-family: "Gotham SSm A", sans-serif;

    &:hover {
      border-radius: 20px;
    }

    .products__item--image-container {
      max-height: 173px;
      height: 173px;

      .products__item--image {
        width: 100%;
        height: auto;
        max-height: 173px;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }

    .products__item--info-content {
      padding: 0 16px;
      margin-bottom: 16px;
      font-family: "Gotham SSm A", sans-serif;

      .item--category {
        padding-top: 8px;
        color: #949495;
        font-size: 12px;
      }

      .item--name {
        padding: 10px 0;
        font-size: 16px;
        line-height: 24px;
        font-weight: $font-weight-bold;
        color: $main-text-color;
        letter-spacing: 0.35px;
        line-height: 1.2;

        .item--name-owner {
          font-weight: 300;
          color: #949494;
        }
      }

      .item--colors__wrapper {
        width: 100%;

        .item--color__block {
          margin: 5px;
          width: 25px;
          height: 25px;
          display: inline-block;
          border-radius: 50%;
          border: 1px solid #D4D4D4;
          cursor: pointer;
          position: relative;

          &:first-child {
            margin-left: 0;
          }

          &.selected {
            &:after {
              content: '';
              display: block;
              width: 100%;
              height: 2px;
              background-color: #008276;
              position: absolute;
              top: 30px;
            }
          }
        }
      }


      .item--price {
        margin-top: 10px;
        height: 12px;
        font-size: 14px;
        font-weight: bold;
        line-height: 13px;
        color: $main-text-color;
      }
    }
  }
}

@keyframes product-image-show-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (min-width: 320px) {
  .products__wrapper {
    padding-right: 0;
    
    .products__item {
      width: 90%;
    }
  }
}

@media (min-width: 600px) {
  .products__wrapper {
    .products__item {
      width: 270px;
    }
  }
}