
@font-face {
  font-family: 'Gotham Pro';
  src: url('/static/fonts/GothaProLig.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/static/fonts/GothaProReg.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/static/fonts/GothaProMed.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/static/fonts/GothaProBol.otf');
  font-weight: 900;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/static/fonts/GothaProLigIta.otf');
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/static/fonts/GothamProMediumItalic.otf');
  font-style: italic;
  font-weight: bold;
}
